@using System.Reflection

@using System.ComponentModel
@using sigmaHashAlpha.Models.Products

@{
	Layout = null;
}
@model GMonitor

<div class="webtitle editortitle">
	Monitor Editor
</div>

<div class="formcontainer">
	<div>
		@using (Html.BeginForm("AddProduct", "MON", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formholder" }))
		{
			<div class="productform">			
				<div class="formimages">
					<div class="previewer">
						<div class="prodslider">		    
							<div id="gal1" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
							<div id="gal2" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
							<div id="gal3" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
							<div id="gal4" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
							<div id="gal5" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
							<div id="gal6" class="gallery"> </div> <div class="imgdlt"><i class="bi bi-x-circle imgx"></i></div>
						</div>
					</div>
					<div class="gallerycontainer">

						<div class="onepic">
							<input type="file" asp-for="Images" id="addpic1" multiple="false" accept="image/png, image/jpeg"  hidden>
							<label for="addpic1"><i class="bi bi-file-earmark-plus"></i></label>

						</div>
						<div  class="onepic">

							<input type="file" asp-for="Images"  id="addpic2" accept="image/png, image/jpeg" hidden>
							<label for="addpic2"><i class="bi bi-file-earmark-plus"></i></label>

						</div>
						<div  class="onepic">

							<input type="file" asp-for="Images"  id="addpic3" accept="image/png, image/jpeg" hidden>
							<label for="addpic3"><i class="bi bi-file-earmark-plus"></i></label>

						</div>
						<div  class="onepic">

							<input type="file" asp-for="Images"  id="addpic4" accept="image/png, image/jpeg" hidden>
							<label for="addpic4"><i class="bi bi-file-earmark-plus"></i></label>
						</div>
						<div  class="onepic">

							<input type="file" asp-for="Images"  id="addpic5" accept="image/png, image/jpeg" hidden>
							<label for="addpic6"><i class="bi bi-file-earmark-plus"></i></label>
						</div>
						<div  class="onepic">

							<input type="file" asp-for="Images"  id="addpic6" accept="image/png, image/jpeg" hidden>
							<label for="addpic6"><i class="bi bi-file-earmark-plus"></i></label>
						</div>
					</div>
				</div>

				<div class="productinputs">
					<div class=" attrP">
						<div class="attrsubt">Brand:</div>
						@Html.EditorFor(m => m.Brand, "test", new { htmlAttributes = new { @class=""}}) 	
					</div>
					<div class=" attrP">
						<div class="attrsubt">Model:</div> 
						@Html.EditorFor(m => m.Model, "test", new { htmlAttributes = new { @class=""}}) 	
					</div>
					<div class=" attrP">
						<div class="attrsubt">Price:</div> 
						@Html.EditorFor(m => m.Price, "test", new { htmlAttributes = new { @class="priceinput", placeholder="00.00"  }}) $	

					</div>


					<div class="proddetails">
						<div><span class="detail"><i class="bi bi-shield-shaded"></i> &nbsp Garantía - &nbsp</span> <span>@Html.EditorFor(m => m.Warranty, "test", new { htmlAttributes = new { @class="", @min="0" }})   </span> </div>
						<div><span class="detail"><i class="bi bi-truck"></i> &nbsp Ships nationally &nbsp</span> <span>@Html.CheckBoxFor(m => m.ShipsNational, new { htmlAttributes = new { @class="" }})   </span> </div>
						<div><span class="detail"><span class="material-symbols-outlined">south_america</span> &nbsp Ships internationally &nbsp</span> 
							<span>@Html.CheckBoxFor(m => m.ShipsInternational, new { htmlAttributes = new { @class="" }})   </span> </div>
					</div>

					<div id="editinfo">  <i class="bi bi-info"></i>- First in order image will be used as Thumbnail for store listing of products. </div>


					<input asp-for="Category"  value="Monitor" hidden />
				</div>

			</div>

			<div class="specscontainer">
				<div class="attrsubt">GENERAL</div>
				<div class="attr  attrB">
					@Html.LabelFor(m => m.RetroilluminationType) 
					@Html.EditorFor(m => m.RetroilluminationType, new { htmlAttributes = new { @class="", @type="text", @placeholder="I.e: LCD-LED"}}) 					
				</div>
					
				<div class="attr attrNum">
					@Html.LabelFor(m => m.IsCurved) 
					@Html.EditorFor(m => m.IsCurved) 
				</div>
				<div class="attr  attrB attrNum">
					@Html.LabelFor(m => m.Inches) 
					@Html.EditorFor(m => m.Inches, new { htmlAttributes = new { @class="", @type="number"}}) 		
				</div>
				<div class="attr">
					@Html.LabelFor(m => m.MaxResolution) 
					@Html.EditorFor(m => m.MaxResolution, new { htmlAttributes = new { @class="", @type="text", @placeholder="I.e: 1920x1080"}})  	
				</div>
				<div class="attr attrB  attrNum">
					@Html.LabelFor(m => m.RefreshRate) 
					@Html.EditorFor(m => m.RefreshRate, new { htmlAttributes = new { @class="", @type="number", @placeholder="60mhz"}}) 	
				</div>
				<div class="attr attrNum ">
					@Html.LabelFor(m => m.NvidiaGSync) 
					@Html.CheckBoxFor(m => m.NvidiaGSync) 	
				</div>

				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.AMDFreeSync) 
					@Html.CheckBoxFor(m => m.AMDFreeSync) 	
				</div>
				<div class="attr attrNum">
					@Html.LabelFor(m => m.TouchScreen) 
					@Html.CheckBoxFor(m => m.TouchScreen) 	
				</div>

				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.Width) 
					@Html.EditorFor(m => m.Width, new { htmlAttributes = new { @class="", @type="number", @placeholder="En cm."}}) 	
				</div>
				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.Height) 
					@Html.EditorFor(m => m.Height, new { htmlAttributes = new { @class="", @type="number", @placeholder="En cm."}}) 	
				</div>





					<div class="attrsubt">CONECTIVIDAD</div>

				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.HDMI) 
					@Html.EditorFor(m => m.HDMI, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum ">
					@Html.LabelFor(m => m.DVI) 
					@Html.EditorFor(m => m.DVI, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.VGA) 
					@Html.EditorFor(m => m.VGA, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum ">
					@Html.LabelFor(m => m.DisplayPort) 
					@Html.EditorFor(m => m.DisplayPort, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.Usb20Ports) 
					@Html.EditorFor(m => m.Usb20Ports, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum ">
					@Html.LabelFor(m => m.Usb30Ports) 
					@Html.EditorFor(m => m.Usb30Ports, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum attrB">
					@Html.LabelFor(m => m.Usb31Ports) 
					@Html.EditorFor(m => m.Usb31Ports, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
				<div class="attr attrNum ">
					@Html.LabelFor(m => m.MiniDisplayPort) 
					@Html.EditorFor(m => m.MiniDisplayPort, new { htmlAttributes = new { @class="", @type="number", @step="1", min="0"}}) 	
				</div>
					<button type="submit" class="submitbtn">Submit</button>
			</div>
		}
	</div>
</div>